extends ../layouts/admin

block content
  template#templateMessage
    .flex.mb-4
      .p-3.rounded-lg.message-wrapper
        span.text-sm.content
      span.ml-2.text-xs.text-gray-500.self-end.createdAt

  template#templateUser
    .flex.items-center.p-2.mb-2.bg-blue-700.rounded-lg.cursor-pointer.user-btn
        .font-semibold.user-name

  .flex.h-full
    .bg-blue-900.text-white.flex.flex-col(class='w-1/3')
      .flex.items-center.justify-center.h-20.bg-blue-800
        span.text-3xl.font-bold Admin
      .flex-1.overflow-y-auto
        .p-4#users-wrapper
          each user in users
            .flex.items-center.p-2.mb-2.bg-blue-700.rounded-lg.cursor-pointer.user-btn(id=`${user.id}`)
                .font-semibold= user.firstName + " " + user.lastName

    .bg-white.flex.flex-col(class='w-2/3')
      .flex-1.p-4.overflow-y-auto#messages
        each message in users[0].message
          .flex.mb-4
            .p-3.rounded-lg(class=`${message.senderId ? "bg-purple-200" : "bg-gray-200 ml-auto"}`)
              span.text-sm= message.content
            span.ml-2.text-xs.text-gray-500.self-end.createdAt= message.createdAt


      .flex.p-4.bg-gray-100
        input#message-input.w-full.p-3.rounded-lg.border.border-gray-300(class='focus:outline-none focus:ring focus:ring-blue-500' type='text' placeholder='Type something...')
        button#message-send.rounded-md.bg-indigo-600.px-3.py-2.text-2xl.font-semibold.text-white.shadow-sm(class='hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Send
