extends ../layouts/admin

block content
    - const formatAttributes = (categories) => {
        - if (categories && categories.length > 0) {
            - return categories.map(category => category.category.name).join(', ');
        - } else {
            - return 'No category available';
        - }
    - }

    a.create-book.text-2xl.float-right(href="books/create") Add Book
    div.table.w-full.bg-white.relative.mt-28.h-full
        if (paging.total != 0)
            ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl.mt-16.w-full.text-center
                li.t-head.book__id ID
                li.t-head.book__title Title
                li.t-head.book__description Description
                li.t-head.book__price Price (USD)
                li.t-head.book__image Images
                li.t-head.book__quantity Quantity
                li.t-head.book__discount Discount (USD)
                li.t-head.book__category Category
                li.t-head Last updated
            div.line
            each book in books
                ul.t-row-wrapper.ml-8.flex.justify-between.text-lg.relative.items-center
                    li.t-row.book__id.text-center= book.id
                    li.t-row.book__title.text-center= book.title
                    li.t-row.book__description= book.description
                    li.t-row.book__price.text-center= book.price
                    li.t-row.book__image.image-wrapper
                        if (book.images != [])
                            img(src=`${book.images[0].url}`)
                    li.t-row.book__quantity.text-center= book.quantity
                    li.t-row.book__discoun.text-center= book.discount
                    li.t-row.book__category.text-center= formatAttributes(book.categories)
                    li.t-row.updated_at= book.updatedAt
                    li.t-row.absolute.t-row-action.action.bottom-0
                            div.absolute.w-20(class="right-1/4").flex.justify-between.items-center
                                a(href=`books/edit/${book.id}`  class="action-path")
                                    img(src="./images/edit.png" alt="")
                                button(href-button=`books/delete/${book.id}` class="action-path delete-btn")
                                    img(src="./images/delete.png" alt="")
            include ../partials/_paging
            include ../partials/_modal
        else
            div.w-full.flex.justify-center.h-full.items-center
                div.empty-data.text-center
                    i.fa-regular.fa-folder-open
                    div Empty data

