extends ../layouts/admin

block content
    div.py-4.text-right
        a.rounded-md.bg-indigo-600.px-3.py-2.text-2xl.font-semibold.text-white.shadow-sm(href=`edit/${path}/${book.id}` class='hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Edit
    .grid.grid-cols-5.gap-4
        .col-span-3.p-8(class='bg-white')
            .font-bold.text-2xl.ps-4.mb-4 General Information
            .grid.grid-rows-6.grid-flow-col.gap-4.text-lg.info-wrapper
                .book
                    .font-medium.text-xl.ps-4 ID
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.id
                .book
                    .font-medium.text-xl.ps-4 Name
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.title
                .book
                    .font-medium.text-xl.ps-4 Description
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.description
                .book
                    .font-medium.text-xl.ps-4 Price
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.price + " (USD)"
                .book
                    .font-medium.text-xl.ps-4 Discount
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.discount + " (%)"
                .book
                    .font-medium.text-xl.ps-4 Quantity
                    .bg-slate-50.p-4.mt-4.rounded-2xl
                        = book.quantity
        .col-span-2.p-8(class='bg-white').overflow-y-scroll
            .font-bold.text-2xl.mb-4 Book Categories
            .grid.grid-rows-4.grid-flow-col.gap-4
                each object in book.categories
                    .mt-4
                        .font-medium.text-xl.ps-4= object.category.name
                        .ps-4= object.category.description

    .grid.grid-cols-5.gap-4.mt-8
        .col-span-3.p-8(class='bg-white')
            .font-bold.text-2xl.ps-4.mb-4 Books Images
            .grid.grid-cols-3.gap-24
                each object in book.images
                    div.h-80.col-span-1
                        img(src=`${object.url}`).h-full.w-full
        .col-span-2.p-8(class='bg-white')
            .font-bold.text-2xl.mb-4 Authors
            .grid.grid-cols-3.gap-4
                each object in book.authors
                    .col-span-1.author__wrapper
                        img(src=`${object.author.thumpnail.url}`).h-full.w-full.rounded-full
                    .col-span-2.font-medium.text-xl.ps-4.flex.items-center= object.author.firstName + " " + object.author.lastName

    div.table.w-full.bg-white.h-full.mt-12
        if (book.reviews.length != 0)
            ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl.mt-16
                li.t-head.review__rating.text-center Rating
                li.t-head.review__comment Comment
                li.t-head.review__commentor Commentor
            div.line
            each review in book.reviews
                ul.t-row-wrapper.ml-8.flex.justify-between.text-lg.items-center
                    li.t-row.review__rating.text-center= review.rating
                    li.t-row.review__comment= review.comment
                    li.t-row.review__commentor
                        if (review.user)
                            = review.user.firstname + " " + review.user.lastName
                        else
                            | Anonymous
        else
            div.w-full.flex.justify-center.h-full.items-center
                div.empty-data.text-center
                    i.fa-regular.fa-folder-open
                    div Empty data
