extends ../layouts/admin

block content
    div.table.w-full.bg-white
        ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl
            li.t-head.order__id ID
            li.t-head.order__total Total (USD)
            li.t-head.order__address Address
            li.t-head.order__status Status
            li.t-head Last updated at
        div.line
        each order in orders
            ul.t-row-wrapper.ml-8.flex.justify-between.text-lg
                li.t-row.order__id= order.id
                li.t-row.order__total= order.total
                li.t-row.order__address= order.address
                li.t-row.order__status= order.status
                li.t-row.updated_at= order.updatedAt
