extends ../layouts/admin

block content
    .bg-white.relative.p-8.flex.justify-between.rounded-2xl
        form.search__form(action="#" method="get")
            .search__input__wrapper.p-4.rounded-xl.text-2xl
                button(type="submit").me-12.ms-8
                    i.fa-solid.fa-magnifying-glass
                input.search.h-full(class="w-4/5" type="text" name="search" placeholder="Search Here")
        a.create-category.text-2xl(href="categories/create") Add Category
    div.table.w-full.bg-white.relative.h-full.my-12
        if (paging.total != 0)
            ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl.mt-16
                li.t-head.category__id ID
                li.t-head.category__name Name
                li.t-head.category__description Description
                li.t-head Last updated at
            div.line
            each category in categories
                a.t-row-wrapper.ml-8.flex.justify-between.text-lg(href=`/category/edit/${category.id}` class="hover:bg-slate-100 transition-colors")
                    div.t-row.category__id= category.id
                    div.t-row.category__name= category.name
                    div.t-row.category__description= category.description
                    div.t-row.updated_at= category.updatedAt
            include ../partials/_paging
        else
            div.w-full.flex.justify-center.h-full.items-center
                div.empty-data.text-center
                    i.fa-regular.fa-folder-open
                    div Empty data

