extends ../layouts/admin

block content
    div.table.w-full.bg-white.relative
        ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl.mt-16
            li.t-head.review__id ID
            li.t-head.review__rating Rating
            li.t-head.review__comment Comment
            li.t-head.book__title Book Title
            li.t-head.book__images Book Images
            li.t-head.book__user Book Images
            li.t-head.review__commentor Book Images
            li.t-head.review__createdAt Created at
        div.line
        each review in reviews
            ul.t-row-wrapper.ml-8.flex.justify-between.text-lg.items-center.relative
                li.t-row.review__id= review.id
                li.t-row.review__rating.text-center= review.rating
                li.t-row.review__comment= review.comment
                li.t-row.book__title= review.book.title
                li.t-row.book__images= review.book.images
                li.t-row.review__commentor
                    if (review.book.user)
                        = review.book.user.firstname
                    else
                        | Anonymous
                li.t-row.created_at= review.createdAt
