extends ../layouts/admin

block content
    //- if (paging.total != 0)
    include ../partials/_filter
    div.table.w-full.bg-white.relative.mt-12.h-full
        if (paging.total != 0)
            ul.t-head-wrapper.ml-8.my-8.flex.justify-between.text-2xl.mt-16.w-full.text-center
                li.t-head.author__id ID
                li.t-head.author__firstName First Name
                li.t-head.author__lastName Last Name
                li.t-head.author__bio Bio
                li.t-head.author__thumpnail Thumpnail
                li.t-head.author__updatedAt Last updated
            div.line
            each author in authors
                .relative
                    a.t-row-wrapper.ml-8.flex.justify-between.text-lg.relative.items-center(href=`authors/edit/${author.id}` class="hover:bg-slate-100 transition-colors")
                        div.t-row.author__id.text-center= author.id
                        div.t-row.author__firstName.text-center= author.firstName
                        div.t-row.author__lastName.text-center= author.lastName
                        div.t-row.author__bio.text-center.underline.text-blue-500
                            div(href=`${author.bio}` target="_blank")= author.bio
                        div.t-row.author__thumpnail.image-wrapper
                            img(src=`${author.thumpnail.url}` alt=`${author.thumpnail.name}` class="h-full rounded-full")
                        div.t-row.updated_at.text-center= author.updatedAt
                    .absolute.action.bottom-0
                        .absolute.w-20(class="right-1/4").flex.justify-between.items-center
                            button(href-button=`authors/delete/${author.id}` class="action-path delete-btn")
                                img(src="./images/delete.png" alt="")

            include ../partials/_paging
            include ../partials/_modal
        else
            div.w-full.flex.justify-center.h-full.items-center
                div.empty-data.text-center
                    i.fa-regular.fa-folder-open
                    div Empty data

